# next.js
/.next/
/out/
build
dist
out
public

# dependencies
/node_modules
.vscode
.eslintrc.json

# typescript
*.tsbuildinfo
next-env.d.ts

# config files
.prettierrc
package.json

# readme
README.md

